<!DOCTYPE html>

<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Maple Manga</title>
 
    <link href="css/bootstrap.css" rel="stylesheet">
   
<body>
    <script type="text/javascript">
        function see(bookmark) {
          $.ajax({
            method: 'post',
            url: '/bmk',
            data: bookmark,
          });
        }
    </script>
    <h1 style="text-align:center"><%= title %></h1>

    <% for (var c in chapters) { %>
       
<img  class="img-responsive center-block" src="https://mhcdn.manhuazj.com/showImage.php?url=<%= chapters[c] %>" >

    <% } %>
    <div style="text-align:center">
        <br/><br/><br/><br/><br/><br/>
        <a href="<%= preu %>"  class="btn-primary btn" >上一话</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="<%= nextu %>" class="btn-primary btn" >下一话</a>                 
      </div>
      <br/><br/><br/><br/><br/><br/><br/><br/>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script>
        see({m_cpt: '<%= title %>'})
    </script>
</body></html>


